.deps
Makefile
Makefile.in
Xmark.1
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
x11perf
x11perf.1
x11perfcomp
x11perfcomp.1
*~
